.Heading{
    background-color: rgb(184, 228, 175);
    color: rgb(212, 173, 235);
    text-align: center;
    box-shadow: 5mm 1cm 1mm 3cm rgb(190, 199, 199);
}
.Heading:hover{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#Animated:hover{
    font-variant: small-caps;
}
.DANGER:hover{
    font-kerning:none;
}
canvas{
    margin-top:200px;
    box-shadow: 5px 5px 5px 2px rgb(160, 165, 117);
}
.ON{
    box-shadow:1px 2px 2px 3px violet;
}
.OA{
    box-shadow: 1px 2px 1px 3px darkorchid;
}
.Footer{
    width: 100%;
    text-align:center;
    background-color: rgb(42, 221, 153);
    color: floralwhite;
    bottom: 0;
    margin-bottom: 0px;
    line-height: 3;
    position: fixed;    
}